<!doctype html>
<html lang="pt">
<head>
	<title>Viagens</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>
	<!-- Header -->
	<section id="header">
		<header class="major">
			<h1>AS<br/>MINHAS<br/>VIAGENS</h1>
			<p>API - SPA</a>
			</p>
		</header>
		<div class="container">
			<ul class="actions">
	                <h2><span class="fa fa-lock"></span>Authentication</h2>
					<a href="/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Login</a>  
					 <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
			</ul>
		</div>
	</section>
	<!-- Scripts -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="c/assets/js/jquery.scrollex.min.js"></script>
	<script src="/assets/js/jquery.scrolly.min.js"></script>
	<script src="/assets/js/skel.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<script src="/assets/js/main.js"></script>
</body>
</html>